.home-welcome {
  background-color: #333333;
  text-align: center;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: -20px;
  margin-left: -200px;
  margin-right: -200px;
}
.home-big-screen {
  width: 120%;
  height: auto;
  margin-left: -10%;
  margin-right: -10%;
  text-align: center;
  position: relative;
  display: table;
}
.home-big-screen-img {
  width: 100%;
  height: auto;
}
.home-big-screen-subtitle {
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0.5;
  background-color: #333333;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.home-big-screen-subtitle-wrap {
  display: table-cell;
  text-align: center;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  vertical-align: middle;
}
.home-big-screen-none {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.home-big-screen-subtitle-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: table;
}
.home-big-screen-subtitle-text {
  color: white;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 70px;
}

.zone-block {
  margin-bottom: 10px;
  width: 100%;
  height: 120px;
  padding: 10px;
  overflow-y: hidden;
  position: relative;
}
.zone-block:hover {
  background-color: #ececec;
}
.zone-info, .zone-icon {
  display: inline-block;
}
.zone-icon {
  height: 100%;
  position: relative;
}
.home-zone-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.zone-icon-img {
  height: 100%;
}
.zone-info {
  margin-left: 120px;
  width: 80%;
  position: absolute;
  top: 10px;
  bottom: 10px;
}
.zone-activity {
  bottom: 0;
  width: 100%;
  float: left;
  position: absolute;
  word-wrap: normal;
}
.hot-topic-td {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
