.wh100 {
  width: 100%;
  height: 100%;
}
hr.sm-hr {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.pagination {
  margin: 0 !important;
}

.topic-detail-title-block {
  position: relative;
}

.nav-links {
}
.nav-link {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
}

.plane-box {
  border: 1px solid #cacaca;
  border-radius: 3px 3px 0 0;
}

.header-font {
  display: inline-block;
  font-size: 35px;
}

.center-line {
  text-align: center;
}
.text-right {
  text-align: right;
}

.mr40 {
  margin-right: 30px;
}
.mr60 {
  margin-right: 60px;
}

.image-upload-preview-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.image-upload-preview {
  width: 100%;
  height: auto;
}

.image-upload-change-button, .image-upload-upload-button {
  margin-top: 10px;
}

.image-upload-form {
  display: none;
}

.receivers > .receiver-name {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  border: 1px solid #a0a0a0;
}

.receivers > .receiver-name:hover {
  background-color: #f0f0f0;
}

.read-pmail-modal-body {
  padding-left: 20px;
  padding-right: 20px;
}

.pager.nav-link {
  text-align: left !important;
  margin: 0 !important;
}
.pager.nav-link > li {
  margin-right: 10px;
}

a {
  color: #000000 !important;
  text-decoration: none !important;
}
